span{
    display: inline;
    color:black;
    text-align:center;
    padding:8px;
    margin: 5px;
    border-radius: 7px;
    background-color: blue;
}

span:hover{
    font-weight: bolder;
    font-size: larger;
    padding:10px;
}