<div class="article-layout">
    {{#article}}
    <h1 class="article-header">{{title}}</h1>
    <h4 class="article-auth">{{auth}}</h4>
    <textarea class="article-content">content</textarea>
    <div class="button-layout">
        <a class="boom-button" id="boom-up">개추 {{boom-up}}</a>
        <a class="boom-button" id="boom-down">비추 {{boom-down}}</a>
    </div>
    {{/article}}
</div>