<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css_files/components/navbar.css">
        <link rel="stylesheet" href="/css_files/{{filename}}.css">
        <script defer src="/js_files/{{filename}}.js"></script>
    </head>
    <body>