<div class="navbar">
    <a href="#" id="nav-title">냥드립</a>
    <a href="#" id="nav-sub-bbs">냥드립 게시판</a>
    <a href="#" id="nav-sub-bbs">그냥드립 게시판</a>
    <a href="#" id="nav-sub-bbs">고민 상담판</a>
    <a href="#" id="nav-sub-bbs">IT 게시판</a>
</div>
