{{>components/header}}
    {{>components/navbar}}
    <div class="article-layout">
        <div id="content-box">
        {{#article}}
            <h1 class="article-header">{{title}}</h1>
            <h4 class="article-auth">{{auth}}</h4>
            <textarea class="article-content">content</textarea>
        </div>
            <div class="button-layout">
                <span class="boom-button" id="boom-up">개추 {{boomup}}</span>
                <span class="boom-button" id="boom-down">비추 {{boomdown}}</span>
            </div>
            <input id="article-id" type="hidden" value="{{id}}">
        {{/article}}
    </div>
{{>components/footer}}