{{>components/header}}
    {{>components/navbar}}
    <div class="article-form-layout">
        <form id ="data-form">
            <div id="article-form-header">
                <div class="space">
                    <span class="pretext">제목</span>
                    <input class="text-input" id="title" type="text">
                </div>
                <div class="space">
                    <span class="pretext">닉네임</span>
                    <input class="text-input" id="auth" type="text">
                </div>
            </div>
            <div id="article-form-body">
                <textarea class="text-input" id="content"></textarea>
            </div>
        </form>
        <span id="submit-button">글 작성</span>
    </div>
</div>
{{>components/footer}}